*{
    margin: 0 ;
    padding: 0;
;
}
#navbr{
   
   
    top: 0;
    z-index: 10;
}

.mainNav {
background-image: linear-gradient(to right,#6a1b9a,#38006b);
font-weight: bolder;
}
.mainNav a{
    color: #FFFFFF !important;
    font-weight: 900;
   
}
.mainNav #itemNav {
    color: #FFFFFF !important;
    font-weight: 900;
}
.navbar-nav li {
   padding: 0 10px;
}
 /* End NavSection */


 #banner {
    
     margin-top: -100px;
    background-image: linear-gradient(to right,#6a1b9a,#38006b);
    color: #FFFFFF !important;
    padding-top: 10%;
    font-weight: 500;
 }

 #play_btn{
     font-size: 3em;
 }
 #play_link{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
 }

 #img1 img{
     width: 400px;
     margin-bottom: 200px;
 }

 /* End Banner section */


 #services{
     text-align: center;
     margin-top: 150px;
 }
 /* hr{
     width: 250px;
     border: 5px solid indigo;
    margin-left: 460px;
    margin-bottom: 100px;
    
 } */
 #services i{
     font-size: 4em;
     color: indigo;
 }

 #services button{
    background-image: linear-gradient(to right,#6a1b9a,#38006b);
     color: #FFFFFF;
     font-weight: 600;
    border: none;
    border-radius: 20px;
 }

 /* End Services */

 #about_us{
     background-color: antiquewhite;
     text-align: center;
     margin-top: 150px;
    
 }


 #about_us .title{
     font-size: 3em;
     font-weight: 500;
 }

 #about_us ul{
     text-align: left;
    
 }
 #about_us li{
     margin-left: 110px;
 }
 #about_us img{
     width: 400px;
 }
 #about_us .row{
     padding-bottom: 100px;
 }

 /* End About_us  */

 
 #div1,#div2{
     margin-top: 75px;
     border-left: 2px solid indigo;
 }
 #comment h1{
     text-align: center;
 }
 #comment img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 10px;
 }

 .user_data{
     display: inline;
     font-size: 18px;
 }

 #comment .row{
     margin-bottom: 100px;
 }


 /* contactSection */

 #contact{
    background-color: antiquewhite;
    text-align: center;
    margin-top: 150px;
 }

 #contact h2{
     margin-top: 50px;
     font-weight: bold;
 }

 #contact li{

     margin: 10px 30px;
     display: inline;
 }
 #contact .row{
     margin-bottom:100px;
 }

 /* End COntact */

 #contact_us{
    background-image: linear-gradient(to right,#6a1b9a,#38006b);
    color: #FFFFFF !important;
    padding-top: 100px;
    padding-bottom: 100px;
 }

 #address,#sub {
     margin-top: 20px;
 }

 #contact_us .btn_default{
    background-image: linear-gradient(to right,#6a1b9a,#38006b);
 }